body {
  margin: 0;
  padding: 0;
}

.Container {
  text-align: center;
  width: 1000px;
  background-color: coral;
  margin: auto;
  height: 800px;
  padding: 0;
}
.dareamon {
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 40px;
}
.face {
  text-align: center;
  margin: auto;
  width: 372px;
  height: 360px;
  border-radius: 175px;
  background-color: #6580f1;
  border: black 1.8px solid;
}
.eyes-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 50px;
  justify-content: center;
}
.eye {
  width: 70px;
  height: 100px;
  border-radius: 35px 35px;
  background-color: white;
  border: black 2.4px solid;
  display: flex;
  z-index: 2;
  justify-content: center;
}
.black-circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: black;
  margin-top: 70px;
}
.black-left {
  margin-left: 30px;
}
.black-right {
  margin-right: 30px;
}
.white-circle-face {
  position: relative;
  width: 295px;
  height: 235px;
  border: black 2.4px solid;
  border-radius: 180px 180px;
  background-color: white;
  top: -40px;
  text-align: center;
  margin: auto;
}
.nose-red {
  width: 23px;
  height: 23px;
  border: 2.4px solid black;
  background-color: #e72e25;
  border-radius: 35px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.nose-white-circle {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  margin: 4px 12px 7px;
}
.middle-face {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-cat-mustaches {
  height: 100px;
  background-color: white;
  z-index: 2;
  width: 40%;
  padding-right: 10px;
  border-radius: 40px;
}
.nose-vertical-line {
  width: 3.6px;
  height: 140px;
  background-color: black;
}
.right-cat-mustaches {
  height: 100px;
  background-color: white;
  z-index: 2;
  width: 40%;
  padding-left: 10px;
  border-radius: 40px;
}
.mustaches {
  width: 72px;
  height: 2.4px;
  background-color: black;
  text-align: center;
  margin: auto;
}
.upper {
  margin-top: 10px;
}
.middle {
  margin-top: 30px;
}
.lower {
  margin-top: 30px;
}
.rotate-30 {
  transform: rotate(30deg);
}
.rotate-150 {
  transform: rotate(150deg);
}
.mouth {
  width: 160px;
  height: 100px;
  border: black 3.6px solid;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 0;
  text-align: center;
  margin: auto;
  position: relative;
  top: -100px;
}
.necklace {
  z-index: 3;
  width: 276px;
  height: 20px;
  border: black 2.4px solid;
  background-color: #e72e25;
  border-radius: 12px;
  text-align: center;
  margin: auto;
  position: relative;
  top: -40px;
}
.bell {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: black 2.4px solid;
  text-align: center;
  margin: auto;
  background-color: yellow;
  position: relative;
  z-index: 10;
  top: -55px;
}
.bell-lines {
  width: 36px;
  height: 2px;
  background: yellow;
  border: black solid 2px;
  margin-top: 10px;
}
.bell-black-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  margin: auto;
  margin-top: 2px;
}
.bell-vertical-line {
  width: 4px;
  height: 14px;
  background-color: black;
  text-align: center;
  margin: auto;
}
.doreamon-body {
}
