body {
  margin: 0;
  padding: 0;
  background-color: coral;
}

.Container {
  text-align: center;
  width: 1000px;
  background-color: coral;
  margin: auto;
  padding: 0;
}
.dareamon {
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 20px;
}
.face {
  text-align: center;
  margin: auto;
  width: 372px;
  height: 360px;
  border-radius: 175px;
  background-color: #6580f1;
  border: black 1.8px solid;
}
.eyes-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 50px;
  justify-content: center;
}
.eye {
  width: 70px;
  height: 100px;
  border-radius: 35px 35px;
  background-color: white;
  border: black 2.4px solid;
  display: flex;
  z-index: 4;
  justify-content: center;
}
.black-circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: black;
  margin-top: 70px;
}
.black-left {
  margin-left: 30px;
}
.black-right {
  margin-right: 30px;
}
.white-circle-face {
  position: relative;
  width: 295px;
  height: 235px;
  border: black 2.4px solid;
  border-radius: 180px 180px;
  background-color: white;
  top: -40px;
  text-align: center;
  margin: auto;
  z-index: 2;
}
.nose-red {
  width: 23px;
  height: 23px;
  border: 2.4px solid black;
  background-color: #e72e25;
  border-radius: 35px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.nose-white-circle {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  margin: 4px 12px 7px;
}
.middle-face {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-cat-mustaches {
  height: 100px;
  background-color: white;
  z-index: 2;
  width: 40%;
  padding-right: 10px;
  border-radius: 40px;
}
.nose-vertical-line {
  width: 3.6px;
  height: 140px;
  background-color: black;
}
.right-cat-mustaches {
  height: 100px;
  background-color: white;
  z-index: 2;
  width: 40%;
  padding-left: 10px;
  border-radius: 40px;
}
.mustaches {
  width: 72px;
  height: 2.4px;
  background-color: black;
  text-align: center;
  margin: auto;
}
.upper {
  margin-top: 10px;
}
.middle {
  margin-top: 30px;
}
.lower {
  margin-top: 30px;
}
.rotate-30 {
  transform: rotate(30deg);
}
.rotate-150 {
  transform: rotate(150deg);
}
.mouth {
  width: 160px;
  height: 100px;
  border: black 3.6px solid;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 0;
  text-align: center;
  margin: auto;
  position: relative;
  top: -100px;
}
.necklace {
  z-index: 3;
  width: 276px;
  height: 20px;
  border: black 2.4px solid;
  background-color: #e72e25;
  border-radius: 12px;
  text-align: center;
  margin: auto;
  position: relative;
  top: -40px;
}
.bell {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: black 2.4px solid;
  text-align: center;
  margin: auto;
  background-color: yellow;
  position: relative;
  z-index: 10;
  top: -55px;
}
.bell-lines {
  width: 36px;
  height: 2px;
  background: yellow;
  border: black solid 2px;
  margin-top: 10px;
}
.bell-white-circle {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 9px;
  text-align: center;
  margin: auto;
  position: relative;
  top: -25px;
  left: 13px;
}
.bell-black-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  margin: auto;
  margin-top: 2px;
}
.bell-vertical-line {
  width: 4px;
  height: 14px;
  background-color: black;
  text-align: center;
  margin: auto;
}
.lowerPart {
  display: flex;
  flex-flow: row nowrap;
}
.doreamon-body {
  width: 264px;
  height: 198px;
  background-color: #6580f1;
  text-align: center;
  margin: auto;
  position: relative;
  top: -90px;
  border: black 2.4px solid;
  border-top: none;
  z-index: 2;
}
.hide-upper-border {
  width: 264px;
  height: 40px;
  background-color: #6580f1;
  text-align: center;
  margin: auto;
  margin-left: -2.4px;
  border: #6580f1 2.4px solid;
}
.body-white-circle {
  width: 204px;
  height: 204px;
  background-color: white;
  border: black 2.4px solid;
  border-top: 2.4px solid transparent;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: -75px;
}
.body-half-circle {
  width: 156px;
  height: 78px;
  border: 2.4px black solid;
  border-bottom-left-radius: 156px;
  border-bottom-right-radius: 156px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.hands {
}
.hand {
  width: 96px;
  height: 40px;
  background-color: #6580f1;
  border: black 2.4px solid;
  border-left: none;
  border-right: none;
  position: relative;
}
.hand-left {
  top: -264px;
  left: 290px;
  transform: rotate(145deg);
}
.hand-right {
  top: -309px;
  left: 613px;
  transform: rotate(35deg);
}
.hand-circle {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: black 2.4px solid;
  background-color: white;
  position: relative;
}
.hand-circle-left {
  top: -323px;
  left: 266px;
}
.hand-circle-right {
  top: -376px;
  left: 680px;
}
.leg-left {
  width: 145px;
  height: 36px;
  background-color: white;
  border-top-left-radius: 96px;
  border-bottom-left-radius: 48px;
  border-top-right-radius: 72px;
  border-bottom-right-radius: 72px;
  border: 2.4px black solid;
  position: relative;
  top: -281px;
  left: 345px;
}
.leg-right {
  width: 145px;
  height: 36px;
  background-color: white;
  border-top-left-radius: 72px;
  border-bottom-left-radius: 72px;
  border-top-right-radius: 96px;
  border-bottom-right-radius: 48px;
  border: 2.4px black solid;
  position: relative;
  top: -322px;
  left: 505px;
}
.leg-half-circle {
  width: 28px;
  height: 14px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border: 2.4px solid black;
  border-bottom: 0;
  background-color: coral;
  position: relative;
  text-align: center;
  margin: auto;
  top: -377px;
  z-index: 8;
}
